.Day-heading1 {
  color: rgb(11, 11, 54);
  text-align: center;
  font-family: "Dongle", sans-serif;
  font-size: 50px;
}

.Day-paragraph {
  color: black;
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  text-align: center;
  border-radius: 35px;
}

/* previous and next buttons */
.Day-paragraph button {
  font-family: "Dongle", sans-serif;
  font-size: 75%;
  background-color: pink;
  border: 8px;
  color: #fff7f7;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  border-radius: 35px;
  position: relative;
}

.Day-button:hover {
  opacity: 0.8;
}

/* start journaling button  */
.start-journaling {
  width: 30vw;
  text-align: center;
  padding: 20px;
  border: none;
  background-color: #1bb091;
  font-size: xx-large;
  font-family: "Dongle", sans-serif;
  border-radius: 50px;
  color: #ffede1;
  margin: 30px;
}

.start-journaling:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
}
