.Profile-heading1 {
  color: rgb(11, 11, 54);
  text-align: center;
  font-family: "Dongle", sans-serif;
  font-size: 100px;
  padding: 50px 50px;
  width: auto;
  background: pink;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.Profile-prompt {
  color: rgb(44, 76, 180);
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  background-color: #ccf3ff;
  margin: 0;
}

.categories-prompts {
  background-color: #ccf3ff;
}

.Prompt-button {
  background-color: pink;
  border: 8px;
  /* border-color: pink; */
  color: #fff7f7;
  font-family: "Dongle", sans-serif;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
}

.Prompt-button:hover {
  opacity: 0.8;
}
