.Home-button {
  background-color: transparent;
  border: 8px;
  padding: 8px;
  text-align: center;
  text-decoration: none !important;
  margin: 0px;
  align-items: center;
  object-fit: contain;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.Home-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.Prof-button {
  background-color: pink;
  border: 8px;
  /* border-color: pink; */
  color: #fff7f7;
  font-family: "Dongle", sans-serif;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Prof-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  align-content: center;
}

.login-button {
  margin: 30px;
}

img {
  object-fit: contain;
}
