.SingleEntry-question {
  color: rgb(71, 69, 69);
  text-align: left;
  font-family: "Dongle", sans-serif;
  font-size: 45px;
  max-width: 50%;
  margin: auto;
}

.SingleEntry-response {
  color: rgb(71, 69, 69);
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  text-align: left;
  max-width: 50%;
  margin: auto;
}
