.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  background-color: lightblue;
  margin: 0;
  padding: 50px 50px;
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
}

.wrapper div {
  font-family: "Dongle", sans-serif;
  font-size: 50px;
  color: #666;
}

.wrapper div:hover {
  opacity: 0.8;
}

.week .title {
  font-size: 50px;
}

.week {
  padding: 50px 50px;
  width: auto;
  background: #1bb091;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.week ul li {
  color: #ffede1;
  font-size: 60px;
  text-transform: lowercase;
  letter-spacing: 3px;
}

/*Previous button inside week header*/
.week .prev {
  float: left;
  padding-top: 10px;
  margin-left: 0;
}

.week .prev:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Next button */
.week .next {
  float: right;
  padding-top: 10px;
}

.week .next:hover {
  opacity: 0.8;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
body {
  font-family: "Dongle", sans-serif;
}
